<launch>
  <!-- This brings up the minimum for the tractor -->
  <include file="$(find gravl)/launch/localization.launch"/>
  <node pkg="rosserial_python" type="serial_node.py" name="serial">
    <param name="port" value="/dev/teensy"/>
    <param name="baud" value="115200"/>
  </node>

  <include file="$(find tractor)/launch/rtk.launch"/>
  <include file="$(find tractor)/launch/teleop.launch"/>
  <include file="$(find tractor)/launch/lidar.launch"/>

</launch>
