<!--
Tractor full ROSlaunch file
@brief: Runs tractor with environment reference, rtk gps,
and sensor mapping abilities
@version: 2.0
-->

<launch>
  <!-- Tractor Minimal -->
  <include file="$(find gravl)/launch/bringup_min.launch"/>
  <!-- RTK GPS -->
  <include file="$(find gravl)/launch/rtk.launch"/>
  <!-- EKF -->
  <!-- TODO -->
  <!-- Camera -->
  <!-- TODO -->
  <!-- Ground-Scanning Lidar -->
  <!-- TODO -->

</launch>
