<!--
Tractor minimal ROSlaunch file
@brief: Runs basic minimal tractor, adds gps and map-based referencing; odometry
@version: 2.0
-->

<launch>
  <!-- Tractor Minimal -->
  <include file="$(find gravl)/launch/bringup_min.launch"/>
  <!-- RTK GPS -->
  <include file="$(find tractor)/launch/rtk.launch"/>
  <!-- EKF -->
  <!-- TODO -->
  <!-- Camera -->
  <!-- TODO -->
  <!-- Ground-Scanning Lidar -->
  <!-- TODO -->

</launch>
