<launch>
  <arg name="port" default="/dev/teensy" doc="teensy 3.5 serial port"/>
  <node pkg="rosserial_python" type="serial_node.py" name="hindbrain" output="screen" launch-prefix="gnome-terminal --command">
    <param name="port" value="$(arg port)"/>
    <param name="baud" value="115200"/>
  </node>
  <node pkg="gravl" type="Watchdog" name="watchdog"/>
</launch>
