<!-- Brings up nodes to convert multiple laser scans to 1 point cloud -->
<!-- http://www.theconstructsim.com/merge-laser-scans-single-pointcloud/ -->
<launch>
<param name="use_sim_time" value="true" />
<include file="$(find gravl)/launch/localization.launch"/>
<node type="laser_scan_assembler" pkg="laser_assembler"
    name="my_assembler">
<!--<remap from="scan" to="laser_scan"/>-->
<param name="max_scans" type="int" value="800" />
<param name="fixed_frame" type="string" value="odom" />
 </node>
<node type ="laser2pc.py" pkg="gravl" name="laser2pc"/>
</launch>
