<launch>
  <arg name="senseRange" default="5.0" />
  <node name="LidarCodeAdvanced" pkg="gravl" type="LidarCodeAdvanced.py" args="_senseRange:=$(arg senseRange)" />
  <arg name="vis" default="False" />
  <group if="$(arg vis)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gravl)/rviz/lidarvis.rviz" />
  </group>
</launch>
