<launch>
  <arg name="senseRange" default="5.0" />
  <arg name="mode" default="circle" />
  <node name="LidarCodeAdvanced" pkg="gravl" type="LidarCodeAdvanced.py" args="_senseRange:=$(arg senseRange) _mode:=$(arg mode)" />
  <arg name="vis" default="True" />
  <group if="$(arg vis)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find gravl)/rviz/lidarvis.rviz" />
  </group>
</launch>