<launch>
	<node pkg="robot_localization" type="ekf_localization_node" name="tractor_groundtruth">
		<rosparam command="load" file="$(find tractor)/config/tractor_groundtruth.yaml"/>
  	</node>
  	<node name="world_frame_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 /earth /base_link" />
  	<node name="gps_tf" pkg="tf" type="static_transform_publisher" args="0 0 2.5 0 0 0 /base_link /gps 2" />
  	<node pkg="tf" type="static_transform_publisher" name="laser_to_base" args="2 0 1 0 0 0 base_link lidar 50" />
</launch>