<!--
@file mainstate.launch
@author Connor Novak
@date 2018-11-21
Sets up behavior parameters and launches MainState class
-->
<!--
Tractor full ROSlaunch file
@brief: Runs tractor with environment reference, rtk gps,
and sensor mapping abilities
@version: 2.0
-->
<launch>

<arg name="behaviors_file" default="$(find gravl)/config/tractor_behaviors.yaml" />

<rosparam command="load" file="$(arg behaviors_file)" />

<include file="$(find state_controller)/launch/mainstate.launch"/>
<node name="convert_to_ackermann" pkg="gravl" type="ConvertToAckermann.py" output="screen"/>

</launch>
