<launch>
  <!--arg to check if serial node is already running-->
  <arg name="serial_not_started" default="true"/>

  <node pkg="swiftnav_ros" type="swiftnav_ros_node" name="swiftnav_ros_node" output="screen">
    <param name="port" value="/dev/ttyUSB0" />
  </node>

  <!--this is mainly for including in other launch files-->
  <!--start serial node if one is not running-->
  <group if="$(arg serial_not_started)">
    <node pkg="rosserial_python" type="serial_node.py" name="serial">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="115200"/>
    </node>
  </group>
</launch>
